<app-layout>
   <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation" >
         <app-sidenav-list (currentUrl)="changeActiveUrl($event)" (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content>
         <app-header   (sidenavToggle)="sidenav.toggle()"></app-header>
         <main>
            <mat-grid-list  cols="1" rowHeight="7rem">
               <mat-grid-tile [rowspan]="1">
                  <mat-card class="dashboard-card">
                     Escuela de Hogwarts
                  </mat-card>
               </mat-grid-tile>
               <mat-grid-tile [rowspan]="1">
                  <nav mat-tab-nav-bar  class="invisible-tabs">
                     <a mat-tab-link *ngFor="let link of links; index as i"
                        [routerLink]="[link]"
                        
                        (click)="activeLink = link"
                        [active]="activeLink == link"> {{titles[i]}} 
                     </a>
                   </nav> 
               </mat-grid-tile>
             </mat-grid-list>
             <mat-grid-list class="views" cols="1" row="1" rowHeight="1:1">
               <router-outlet></router-outlet>
             </mat-grid-list>
         </main>
      </mat-sidenav-content>
   </mat-sidenav-container>
</app-layout>
 

 



